/*
  Credit: Partly idea is from Bootstrap and thereof Nicolas Gallagher and SUIT CSS.
*/

@mixin roy-responsive-embed() {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

@mixin roy-responsive-item() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

@mixin roy-responsive-item-padding($ratio_width: 16, $ratio_height: 9) {
	padding-bottom: ($ratio_height / $ratio_width) * 100%;
}

@mixin roy-responsive-embed-horizontal-center() {
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
}

@mixin roy-responsive-item-vertical-center($container_height: 100%, $ratio_width: 16, $ratio_height: 9) {
  @if unit($container_height) == "%" {
    margin-top: -($ratio_height / $ratio_width) * ($container_height / 2);
  }
  @else {
    margin-top: ($container_height / 2);
  }

  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

@mixin roy-adjust-embed-height($container_height, $ratio_width: 16, $ratio_height: 9) {
  max-width: ($ratio_width / $ratio_height) * $container_height;
}