@import '../../sass/roy-include-core';

$test-wrapper-width: 960px;
$test-block-height: 900px;

.wrapper {
	width: $test-wrapper-width;
	margin-left: auto;
	margin-right: auto;
}

.embed-area {
	position: relative; /* Important for vertical centering! */
	background-color: lightgray;
	width: 100%;

	&.test-embed-half {
		.roy-embed-16by9 {
			@include roy-adjust-embed-height($test-wrapper-width / 2, 600px);
		}

		.roy-embed-4by3 {
			@include roy-adjust-embed-height($test-wrapper-width / 2, 600px, 4, 3);

			&.roy-v-center {
				@include roy-responsive-item-vertical-center($test-wrapper-width / 2, 600px, 4, 3);
			}
		}
	}

	&.embed-area-block {
		height: $test-block-height

		.roy-embed-16by9 {
			@include roy-adjust-embed-height($test-wrapper-width / 2, $test-block-height);

			&.roy-v-center {
				@include roy-responsive-item-vertical-center($test-wrapper-width / 2, $test-block-height);
			}
		}
	}

	video {
		background-color: lightblue;	
	}
}


// Iframe document styles
.iframe-body {
	overflow: hidden;

    video {
    	max-width: 100%;
    }
}